.tariffs-page {
  max-width: 900px;
  margin: auto;
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.buttons{
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 8px;
}

.add-card {
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 25px;
  background: rgb(232, 229, 218);

  .add-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
  }
}

.tariffs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  border-radius: 12px;
  background: rgb(232, 229, 218);
  padding: 20px;
}

.tariff-card {
  padding: 16px;
  border-radius: 12px;
  background: rgb(232, 229, 218);

  mat-card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 700;
  }

  input {
    width: 100%;
    padding: 6px 8px;
    margin-bottom: 12px;
    border-radius: 8px;
  }
}

/* -------------------------------------------------- */
/* DARK MODE */
/* -------------------------------------------------- */

/* GRID background */
:host-context(.dark-mode) .tariffs-grid {
  background: #2c2c2c !important;
  color: white !important;
}

/* Add CARD background */
:host-context(.dark-mode) .add-card {
  background: #2c2c2c!important;
  color: white !important;
}

/* INPUTS */
:host-context(.dark-mode) input {
  background: #2c2c2c !important;
  color: white !important;
  border: none;
}

/* BUTTONS */
:host-context(.dark-mode) button {
  background: #262525 !important;
  color: white !important;
}

/* TITLES */
:host-context(.dark-mode) mat-card-title {
  color: white !important;
}
