.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 320px;
  padding: 1rem;
}

.error {
  color: red;
  margin-top: 0.5rem;
}
