.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card {
    width: 350px;
    padding: 20px;
  }

  .full {
    width: 100%;
    margin-top: 15px;
  }
}
