@use '@angular/material' as mat;

// Light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    use-system-variables: true
  )
));

// Dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    use-system-variables: true
  )
));

// Default = light theme
@include mat.all-component-colors($light-theme);
@include mat.all-component-typographies($light-theme);
@include mat.all-component-densities($light-theme);

// Dark theme class (activated with .dark-mode on body)
.dark-mode {
  @include mat.all-component-colors($dark-theme);
  @include mat.all-component-typographies($dark-theme);
  @include mat.all-component-densities($dark-theme);
}

* {
  transition: background-color .2s linear, color .2s linear, border-color .2s linear;
}
