@use '@angular/material' as mat;

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    use-system-variables: true
  )
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    use-system-variables: true
  )
));

@include mat.all-component-colors($light-theme);
@include mat.all-component-typographies($light-theme);
@include mat.all-component-densities($light-theme);

.dark-mode {
  @include mat.all-component-colors($dark-theme);
  @include mat.all-component-typographies($dark-theme);
  @include mat.all-component-densities($dark-theme);
}

.dark-mode {
  background: #262525 !important;
  color: #ffffff !important;

  .layout-container,
  .content-area {
    background: #212020 !important;
  }

  .topbar {
    background: #262525 !important;
    border-bottom: 1px solid #333 !important;

    .left,
    mat-icon {
      color: #fff !important;
    }
  }

  .logout-btn {
    color: #0095f6 !important;
  }

  .sidebar {
    background: #262525 !important;
    border-right: 1px solid #333 !important;

    .sidebar-header {
      .logo-text,
      .logo-icon {
        color: #fff !important;
      }
    }
  }

  mat-nav-list a {
    color: #ffffff !important;

    &:hover {
      background: #353434 !important;
    }
  }

  .active {
    color: #0095f6 !important;
  }

  .content-wrapper {
    color: #fff !important;
  }

  mat-card {
    background: #353434 !important;
    color: #fff !important;
  }
}

.mat-mdc-select-panel {
  background-color: #f7f2f2 !important; 
  backdrop-filter: none !important;
  border: 1px solid #b9b4b4 !important;
}

.dark-mode .mat-mdc-select-panel {
  background-color: #262525 !important; 
  border: 1px solid #2d2c2c !important;
}

:root {
  --button-radius: 12px;
}

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button,
.mdc-button {
  border-radius: var(--button-radius) !important;
}

